<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyrie.mapper.KyrieMapper">


    <resultMap id="BaseResultMap" type="com.kyrie.pojo.Kyrie">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="profession" property="profession" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
    </resultMap>


    <sql id="Base_Column_List">
        id, name, email, profession, age, gender, status, createtime
    </sql>


    <select id="queryByWapper" resultType="com.kyrie.pojo.Kyrie" parameterType="com.kyrie.pojo.DynamicsDto">
        select <include refid="Base_Column_List"/>
        from tb_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="name != null and name!=''">
                name like '%${name}%'
            </if>
            <if test="phone != null and phone!=''">
                and phone like '%${phone}%'
            </if>
            <if test="email != null and email!=''">
                and email like '%${email}%'
            </if>
            <if test="profession != null and profession!=''">
                and profession = #{profession}
            </if>
            <if test="age != null and age!=''">
                and age >= #{age}
            </if>
            <if test="gender !=null and gender!=''">
                and gender = #{gender}
            </if>
            <if test="startTime != null and endTime == null">
                <![CDATA[ and createtime >= #{startTime} ]]>
            </if>
            <if test="startTime == null and endTime != null">
                <![CDATA[ and createtime <= #{endTime} ]]>
            </if>
            <if test="startTime != null and endTime != null">
                and createtime between #{startTime} and #{endTime}
            </if>
        </trim>
        order by createtime desc

    </select>


</mapper>